doctype html
html
  head
    title Fortune Cookie API Documentation
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='API documentation for Fortune Cookie API')
    meta(name='author' content='Larry Price <larry.price.dev@gmail.com>')

  body
    h1
      | Fortune Cookie API
    p
      | Unfortunately, Apiary no longer allows us to embed our documentation here.
    p
      | But you can check it out for yourself at <a href="https://docs.fortunecookie.apiary.io/">Apiary</a>.
