doctype html
html
  head
    title Fortune Cookie API Documentation
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='API documentation for Fortune Cookie API')
    meta(name='author' content='Larry Price <larry.price.dev@gmail.com>')
    script(src="https://api.apiary.io/seeds/embed.js")

  body
    script(type='text/javascript').
      var embed = new Apiary.Embed({
        subdomain: 'fortunecookie'
      });